@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: cornflowerblue;
}



form {
  

  input, label, button {
    display: block;
  }

  .flash-error, .flash-success {
    display: block;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    overflow-wrap: break-word;
    box-sizing: border-box;
  }

  .flash-error {
    border: 3px solid rgb(80, 0, 0);
    background-color: crimson;
    color: white;
  }

  .flash-success {
    border: 3px solid rgb(11, 65, 0);
    background-color: green;
  }

  input {
    box-sizing: border-box;
    padding: 12px 20px;
    margin: 10px 0;
  }

  button {
    padding: 10px;
    background-color: aliceblue;
    border: 3px solid black;
    border-radius: 4px;
    margin: 0 auto;
  }
}
