@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: cornflowerblue;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

form {
  input, label, button {
    display: block;
  }

  input {
    box-sizing: border-box;
    padding: 12px 20px;
    margin: 10px 0;
  }

  button {
    padding: 10px;
    background-color: aliceblue;
    border: 3px solid black;
    border-radius: 4px;
    margin: 0 auto;
  }
}
