@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: cornflowerblue;
}

form {
  input, label, div {
    display: block;
    box-sizing: border-box;
    width: 20em;
  }

  .flash-error, .flash-success {
    padding: 10px;
    margin: 10px 0;
    text-align: center;
  }

  .flash-error {
    border: 3px solid rgb(80, 0, 0);
    background-color: crimson;
    color: white;
  }

  .flash-success {
    border: 3px solid rgb(11, 65, 0);
    background-color: green;
  }

  input {
    padding: 12px 20px;
    margin: 10px 0;
  }

  button {
    display: block;
    padding: 10px;
    background-color: aliceblue;
    border: 3px solid black;
    border-radius: 4px;
    margin: 0 auto;
  }
}
